@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #00000094;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1em;
}

body {
    background: #d4d4d40d;
    height: 100vh;
}

canvas {
    float: left;
}

.header {
    margin: 40px auto;
}

.App {
    margin: 0px auto;
    text-align: center;
}

.locationInfo {
    width: 300px;
    float: left;
}

.weekInfo {
    width: 600px;
    float: left;
}

.dayHoursInfo {
    width: 400px;
    float: left;
}

.graphs {
    width: calc(100% - 200px);
}


/* when screen size is below 800 px diving set card component width to 100% */


/*Sidebar */

div.content {
    width: 100%;
    margin-left: 200px;
    height: 1000px;
}


/*Sidebar */