.card-component {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    transition: 0.3s;
    padding: 0px 10px;
}

.name,
.body {
    color: white;
}

.name {
    font-size: 1.17em;
}

.body {
    font-size: 1em;
}

@media screen and (max-width: 1358px) {
    .name {
        font-size: 1.1em;
    }
    .body {
        font-size: 1em;
    }
}

@media screen and (max-width: 960px) {
    .card-component {
        width: 50%;
        background-color: #28293d;
        padding: 5px 0px;
        margin-bottom: 0%;
    }
    .card-component:nth-child(odd) {
        border-top-left-radius: 0.2857rem;
        border-bottom-left-radius: 0.2857rem;
    }
    .card-component:nth-child(even) {
        border-top-right-radius: 0.2857rem;
        border-bottom-right-radius: 0.2857rem;
    }
    .name {
        font-size: 1em;
    }
    .body {
        font-size: 0.9em;
    }
    .card-component:nth-child(-n + 2) {
        margin-bottom: 2%;
    }
}