.day {
    margin: 12px auto;
    text-align: left;
    border-radius: 0.2857rem;
    padding: 5px 20px;
}

.day span,
h3,
p {
    color: white;
}

.day:nth-child(odd) {
    background-color: #26273a;
}

.day:nth-child(even) {
    background-color: #232438;
}

.hours {
    margin-left: 5px;
    float: right;
    font-size: 20px;
    margin-top: 10px;
}