.info-cards {
    height: 69px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #27293d;
    margin-bottom: 1%;
    width: calc(100% - 2%);
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 0.2857rem;
}

@media screen and (max-width: 960px) {
    .info-cards {
        height: 121px;
        background-color: #1e1e2f;
        margin-bottom: 2%;
    }
}