.info-cards {
    height: 69px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #27293d;
    margin-bottom: 1%;
    width: calc(100% - 2%);
    margin-left: 1%;
}