.lastFiveDays {
    padding: 10px 48px;
    border-radius: 8px;
    background-color: #27293d;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .lastFiveDays {
        padding: 10px 10px;
    }
}