.sidebar {
    margin: 0;
    margin-left: 1%;
    padding: 0;
    width: 120px;
    background-color: #28293d;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 0.2857rem;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar p {
    display: block;
    color: white;
    padding: 25px;
    font-size: 16px;
    text-decoration: none;
}

.sidebar p.active {
    background-color: #0f0e31;
}

.sidebar .logo {
    height: 44px;
    font-size: 28px;
    padding: 25px 25px 0px 25px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        max-height: 70px;
        width: 98%;
        height: 70px;
        position: relative;
        text-align: center;
        display: flex;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .sidebar p {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .sidebar p {
        font-size: 14px;
        width: 25%;
    }
}

@media screen and (max-width: 470px) {
    .sidebar {
        display: flex;
    }
    .sidebar p {
        font-size: 14px;
        width: 25%;
    }
    .sidebar .logo {
        display: none;
    }
}

@media screen and (max-width: 355px) {
    .sidebar p {
        font-size: 14px;
        padding: 10px;
    }
}