.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #c3c3c361;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 25px;
    font-size: 16px;
    text-decoration: none;
}

.sidebar:first-child {
    margin-bottom: 80px;
}

.sidebar a.active {
    background-color: #a9a6a661;
}

.sidebar a:hover:not(.active) {
    background-color: #a9a6a661;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}